Sphinx>=4.0.1
sphinx_rtd_theme>=0.5.2
sphinx-rtd-dark-mode>=1.2.1
sphinx-automodapi>=0.13
sphinx_click>=3.0.0
click>=8.0.1
pre-commit
numpy==1.19.5
pandas
seaborn
matplotlib
numba
scanpy>=1.5
anndata>=0.7.2
#h5py<3
scipy
scikit-learn
scikit-misc
umap-learn
pydot
python-igraph
torch==1.7.1
tqdm
tk
